@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* body tag */
body {
  margin: 0;
 font-family: "Gabriela", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* styling the scrollbar  */
::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ebf3ff; 
  border-radius: 10px;
  height: 10px;
}
